{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %} Hankuk Place {% endblock %}

{% block body %}
    <div class="detail_img"></div>
    <section class="container">
        <div class="text-center my-5">
            <h1>Compte de {{ user.name }} {{ user.surname }}</h1>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center my-5">
            <a class="btn btn-light" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
        </div>
        <div class="d-flex justify-content-between my-5">
        <a class="btn btn-light" href="{{ path('home') }}">Retour à l'accueil</a>
        {{ include('user/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
